---
http_interactions:
- request:
    method: post
    uri: https://cig.dhl.de/services/production/soap
    body:
      encoding: UTF-8
      string: "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:cis=\"http://dhl.de/webservice/cisbase\" xmlns:bus=\"http://dhl.de/webservices/businesscustomershipping\">\n
        \ <soapenv:Header>\n      <cis:Authentification>\n         <cis:user>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</cis:user>\n
        \        <cis:signature>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</cis:signature>\n      </cis:Authentification>\n
        \  </soapenv:Header>\n\n  \n  <soapenv:Body>\n      <bus:CreateShipmentOrderRequest>\n
        \        <bus:Version>\n            <majorRelease>2</majorRelease>\n            <minorRelease>0</minorRelease>\n
        \           <build></build>\n         </bus:Version>\n         <ShipmentOrder>\n
        \           <sequenceNumber>01</sequenceNumber>\n            <Shipment>\n
        \              <ShipmentDetails>\n                  <product>V01PAK</product>\n
        \                 <cis:accountNumber>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</cis:accountNumber>\n
        \                 <customerReference>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</customerReference>\n                  <shipmentDate>2017-09-21</shipmentDate>\n
        \                 <returnShipmentAccountNumber>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</returnShipmentAccountNumber>\n
        \                 <returnShipmentReference>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</returnShipmentReference>\n
        \                 <ShipmentItem>\n                     <weightInKG>1</weightInKG>\n
        \                 </ShipmentItem>\n               </ShipmentDetails>\n               <Shipper>\n
        \                 <Name>\n                     <cis:name1>Omniflora Blumen
        Center GmbH</cis:name1>\n                  </Name>\n                  <Address>\n
        \                    <cis:streetName>Odenwaldstrasse</cis:streetName>\n                     <cis:streetNumber>7-9</cis:streetNumber>\n
        \                    <cis:addressAddition></cis:addressAddition>\n                     <cis:dispatchingInformation></cis:dispatchingInformation>\n
        \                    <cis:zip>00000</cis:zip>\n                     <cis:city>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</cis:city>\n
        \                    <cis:Origin>\n                        <!--Optional:-->\n
        \                       <cis:country></cis:country>\n                        <cis:countryISOCode>DE</cis:countryISOCode>\n
        \                       <!--Optional:-->\n                        <cis:state></cis:state>\n
        \                    </cis:Origin>\n                  </Address>\n               </Shipper>\n
        \              <Receiver>\n                  <cis:name1>Test User</cis:name1>\n
        \                 <Address>\n                    \n                      <cis:name2>Company
        information part 1</cis:name2>\n                    \n                    \n
        \                     <cis:name3>Company information part 2</cis:name3>\n
        \                   \n                     <cis:streetName>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</cis:streetName>\n
        \                    <cis:streetNumber>7</cis:streetNumber>\n                     <cis:addressAddition>Put
        it under the stairs</cis:addressAddition>\n                     <cis:dispatchingInformation></cis:dispatchingInformation>\n
        \                    <cis:zip>10785</cis:zip>\n                     <cis:city>Berlin</cis:city>\n
        \                    <cis:Origin>\n                        <!--Optional:-->\n
        \                       <cis:country></cis:country>\n                        <cis:countryISOCode>DE</cis:countryISOCode>\n
        \                       <!--Optional:-->\n                        <cis:state></cis:state>\n
        \                    </cis:Origin>\n                  </Address>\n               </Receiver>\n
        \           </Shipment>\n            <labelResponseType>B64</labelResponseType>\n
        \        </ShipmentOrder>\n      </bus:CreateShipmentOrderRequest>\n</soapenv:Body>\n\n</soapenv:Envelope>\n"
    headers:
      Soapaction:
      - '"urn:createShipmentOrder"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<soap:Envelope xmlns:bcs=\"http://dhl.de/webservices/businesscustomershipping\"
        xmlns:cis=\"http://dhl.de/webservice/cisbase\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Header xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"/><soap:Body>\n
        \     <bcs:CreateShipmentOrderResponse>\n         <bcs:Version>\n            <majorRelease
        xmlns=\"\">2</majorRelease>\n            <minorRelease xmlns=\"\">0</minorRelease>\n
        \        </bcs:Version>\n         <Status xmlns=\"\">\n            <statusCode>0</statusCode>\n
        \           <statusText>ok</statusText>\n            <statusMessage>Der Webservice
        wurde ohne Fehler ausgeführt.</statusMessage>\n         </Status>\n         <CreationState
        xmlns=\"\">\n            <sequenceNumber>01</sequenceNumber>\n            <LabelData>\n
        \              <Status>\n                  <statusCode>0</statusCode>\n                  <statusText>ok</statusText>\n
        \                 <statusMessage>Der Webservice wurde ohne Fehler ausgeführt.</statusMessage>\n
        \              </Status>\n               <cis:shipmentNumber>222201010017209788</cis:shipmentNumber>\n
        \              <labelData>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</labelData>\n
        \           </LabelData>\n         </CreationState>\n      </bcs:CreateShipmentOrderResponse>\n
        \  </soap:Body>\n   \n   \n</soap:Envelope>"
  recorded_at: Wed, 20 Sep 2017 10:53:05 GMT
recorded_with: VCR 3.0.3
