---
http_interactions:
- request:
    method: post
    uri: https://cig.dhl.de/services/production/soap
    body:
      encoding: UTF-8
      string: "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\n
        \ xmlns:cis=\"http://dhl.de/webservice/cisbase\"\n  xmlns:bus=\"http://dhl.de/webservices/businesscustomershipping\">\n
        \ <soapenv:Header>\n  <cis:Authentification>\n    <cis:user>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</cis:user>\n
        \   <cis:signature>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</cis:signature>\n  </cis:Authentification>\n</soapenv:Header>\n\n
        \ <soapenv:Body>\n   <bus:DoManifestRequest>\n      <bus:Version>\n         <majorRelease>2</majorRelease>\n
        \        <minorRelease>0</minorRelease>\n      </bus:Version>\n      <!--1
        to 30 repetitions:-->\n      \n         <cis:shipmentNumber>575007012489</cis:shipmentNumber>\n
        \     \n   </bus:DoManifestRequest>\n</soapenv:Body>\n\n</soapenv:Envelope>\n"
    headers:
      Soapaction:
      - '"urn:doManifest"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<soap:Envelope xmlns:bcs=\"http://dhl.de/webservices/businesscustomershipping\"
        xmlns:cis=\"http://dhl.de/webservice/cisbase\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Header xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"/><soap:Body>\n
        \     <bcs:DoManifestResponse>\n         <bcs:Version>\n            <majorRelease
        xmlns=\"\">2</majorRelease>\n            <minorRelease xmlns=\"\">0</minorRelease>\n
        \        </bcs:Version>\n         <Status xmlns=\"\">\n            <statusCode>2000</statusCode>\n
        \           <statusText>Unknown shipment number.</statusText>\n            <statusMessage>Die
        Sendungsnummer ist in der aktuellen Nutzergruppe nicht bekannt.</statusMessage>\n
        \        </Status>\n         <ManifestState xmlns=\"\">\n            <cis:shipmentNumber>575007012489</cis:shipmentNumber>\n
        \           <Status>\n               <statusCode>2000</statusCode>\n               <statusText>Unknown
        shipment number.</statusText>\n               <statusMessage/>\n            </Status>\n
        \        </ManifestState>\n      </bcs:DoManifestResponse>\n   </soap:Body>\n
        \  \n   \n</soap:Envelope>"
  recorded_at: Thu, 02 Nov 2017 10:51:41 GMT
recorded_with: VCR 3.0.3
